@import "Styles/colors.scss";
@import "Styles/responsive.scss";

.ProjectFirstImpression {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ProjectName {
	width: fit-content;

	// text
	font-family: 'Inter var', sans-serif;
	font-size: 100%;
	font-size: 3.584vw;
	font-weight: bold;
	letter-spacing: -0.035em;
}

.ProjectDescription {
	font-family: 'Inter var', sans-serif;
	font-size: 1.75vw;

	color: $PrimaryTextColor;
}

.ProjectMoreButton {
	$MoreButtonColor: $PrimaryTextColor;

	width: fit-content;
	cursor: pointer;

	font-family: 'Inter var', sans-serif;
	font-size: 0.75vw;

	// add underline
	text-decoration: underline;
	text-decoration-color: $MoreButtonColor;

	color: $MoreButtonColor;
}

.ProjectStats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: $breakpoint-tablet) {
	.ProjectName {
		font-size: 9vw;
		width: 100%;
		text-align: center;
	}
	.ProjectDescription {
		font-size: 3vw;
	}
	.ProjectMoreButton {
		font-size: 1vw;
	}
}

@media (max-width: $breakpoint-mobile) {
	.ProjectName {
		font-size: 5vh;
	}
	.ProjectDescription {
		font-size: 2vh;
	}
	.ProjectMoreButton {
		font-size: 1vh;
	}
}