@import "@styles/colors.scss";

.ProjectFirstImpression {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ProjectName {
	width: fit-content;

	// text
	font-family: 'Inter var', sans-serif;
	font-size: 100%;
	font-size: 3.584vw;
	font-weight: bold;
	letter-spacing: -0.035em;
}

.ProjectDescription {
	width: 75%;

	font-family: 'Inter var', sans-serif;
	font-size: 1.75vw;

	color: $PrimaryTextColor;
}

.ProjectMoreButton {
	$MoreButtonColor: #505050;

	width: fit-content;
	cursor: pointer;

	font-family: 'Inter var', sans-serif;
	font-size: 0.75vw;

	// add underline
	text-decoration: underline;
	text-decoration-color: $MoreButtonColor;

	color: $MoreButtonColor;
}

.ProjectStats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}