@import "@styles/colors.scss";

.StatValues {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	margin-left: 8px;

	color: $SecondaryTextColor;
	font-family: "Roboto", sans-serif;

	.StatIcon {
		margin-right: 8px;
	}
	.StatValue {
		font-weight: bold;
	}
}

.StatContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}
