
$grad-Midnight: linear-gradient(90deg, #202033 0%, #4CC8C8 100%);
$grad-Sunset: linear-gradient(90deg, #F6D365 0%, #FDA085 100%);
$grad-SunToOcean: linear-gradient(90deg, #F18271 0%, #CC6B8E 33%, #8F6AAE 66%, #3F51B1 99%);

$PrimaryTextColor: #16171D;
$SecondaryTextColor: #AAAAAA;