@import url('https://rsms.me/inter/inter.css');
@import 'Styles/colors.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Page {
	// width: 100vw;
	// height: 100vh;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.25s;
}

a:hover,
a:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	transform: translateY(-0.25em);
}

h1 {
	color: $PrimaryTextColor;
	font-weight: bolder;
}

h3 {
	color: $SecondaryTextColor;
	font-weight: 300;
}