@import '../../vars.scss';

.ThreeJsCanvas3D {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.5s linear;
}

@media (max-width: $breakpoint-tablet) {
	.ThreeJsCanvas3D {
		width: 100%;
	}
}