
.Popup {
	position: fixed;
	width: 50%;
	height: 20%;
	bottom: 7.5%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1%;
	font-family: 'Inter', sans-serif;
	background: white;

	.BackgroundImage {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		border-radius: 35px;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
	}

	.Title {
		color: #000000;
	}

	.Grid2x2 {
		width: 100%;
		text-align: left;
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		ul {
			margin: 0;
			list-style-type: circle;

			li {
				margin: 0;
			}
		}
	}

	.Buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 75%;
		margin-bottom: 1%;

		button {
			padding: 5px 25px;
			border-radius: 1rem;
			border: none;
			border: 5px solid #859bff;

			.BtnText {
				color: #000000;
				font-size: 1.5em;
			}
		}

		.PrimaryBtn {
			background-color: #859bff;
		}
	}
}